<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme menu-container">
    <div class="app-brand demo">
        <a href="https://taskify-saas.taskhub.company/master-panel/home" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/image/wkxkoc9sktp18zkesk6l7elhi6zjhubntr7u7ik3.png" width="200px" alt="" />
            </span>
            <!-- <span class="app-brand-text demo menu-text fw-bolder ms-2">Taskify</span> -->
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="btn-group dropend px-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Workspace
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                   href="https://taskify-saas.taskhub.company/master-panel/workspaces/switch/9"><i class='menu-icon tf-icons bx bx-check-square text-primary'></i>Workspace</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="https://taskify-saas.taskhub.company/master-panel/workspaces/switch/12"><i class='menu-icon tf-icons bx bx-square text-solid'></i>UI/UX Design</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="https://taskify-saas.taskhub.company/master-panel/workspaces/switch/13"><i class='menu-icon tf-icons bx bx-square text-solid'></i>Web development</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="https://taskify-saas.taskhub.company/master-panel/workspaces/switch/14"><i class='menu-icon tf-icons bx bx-square text-solid'></i>Marketing</a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="https://taskify-saas.taskhub.company/master-panel/workspaces/switch/15"><i class='menu-icon tf-icons bx bx-square text-solid'></i>one-person-only</a>
            </li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <a class="dropdown-item" href="https://taskify-saas.taskhub.company/master-panel/workspaces">
                    <i class='menu-icon tf-icons bx bx-bar-chart-alt-2 text-success'></i>Manage workspaces                            <span class="badge badge-center bg-primary"> + 5</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="https://taskify-saas.taskhub.company/master-panel/workspaces/create">
                    <i class='menu-icon tf-icons bx bx-plus text-warning'></i>Create workspace
                </a></span>
            </li>
            <!-- <li><span data-bs-toggle="modal" data-bs-target="#create_workspace_modal"><a class="dropdown-item" href="javascript:void(0);"><i class='menu-icon tf-icons bx bx-plus text-warning'></i>Create workspace</a></span></li> -->
            <li>
                <a class="dropdown-item"
                   href=" https://taskify-saas.taskhub.company/master-panel/workspaces/edit/9">
                    <i class='menu-icon tf-icons bx bx-edit text-info'></i>Edit workspace
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#"
                   data-route-prefix="/master-panel" id="remove-participant">
                    <i class='menu-icon tf-icons bx bx-exit text-danger'></i>Remove me from workspace
                </a>

            </li>
        </ul>
    </div>
    <ul class="menu-inner py-1">
        <hr class="dropdown-divider" />
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="https://taskify-saas.taskhub.company/master-panel/home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle text-danger"></i>
                <div>Dashboard</div>
            </a>
        </li>




        <li class="menu-item ">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-briefcase-alt-2 text-success"></i>
                <div>Projects</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/projects" class="menu-link">
                        <div>Manage projects</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/projects/favorite" class="menu-link">
                        <div>Favorite projects</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/tags/manage" class="menu-link">
                        <div>Tags</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/tasks" class="menu-link">
                <i class="menu-icon tf-icons bx bx-task text-primary"></i>
                <div>Tasks</div>
            </a>
        </li>

        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/status/manage" class="menu-link">
                <i class='menu-icon tf-icons bx bx-grid-small text-secondary'></i>
                <div>Statuses</div>
            </a>
        </li>

        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/workspaces" class="menu-link">
                <i class='menu-icon tf-icons bx bx-check-square text-danger'></i>
                <div>Workspaces</div>
            </a>
        </li>

        <li class="menu-item ">
            <a href="/chat" class="menu-link">

                <i class="menu-icon tf-icons bx bx-chat text-warning"></i>
                <div>
                    Chat <span class="flex-shrink-0 badge badge-center bg-danger w-px-20 h-px-20">0</span>
                </div>

            </a>
        </li>
        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/todos" class="menu-link">
                <i class='menu-icon tf-icons bx bx-list-check text-dark'></i>
                <div>
                    Todos <span class="flex-shrink-0 badge badge-center bg-danger w-px-20 h-px-20">3</span>
                </div>
            </a>
        </li>

        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/meetings" class="menu-link">
                <i class="menu-icon tf-icons bx bx-shape-polygon text-success"></i>
                <div>
                    Meetings <span class="flex-shrink-0 badge badge-center bg-success w-px-20 h-px-20">0</span>
                </div>
            </a>
        </li>

        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/users" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group text-primary"></i>
                <div>Users</div>
            </a>
        </li>
        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/clients" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group text-warning"></i>
                <div>Clients</div>
            </a>
        </li>


        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/notes" class="menu-link">
                <i class='menu-icon tf-icons bx bx-notepad text-primary'></i>
                <div>Notes</div>
            </a>
        </li>
        <li class="menu-item ">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box text-success"></i>
                Finance
            </a>
            <ul class="menu-sub">
                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/expenses" class="menu-link">
                        <div>Expenses</div>
                    </a>
                </li>

                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/estimates-invoices" class="menu-link">
                        <div>Estimates/Invoices</div>
                    </a>
                </li>

                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/payments" class="menu-link">
                        <div>Payments</div>
                    </a>
                </li>

                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/payment-methods" class="menu-link">
                        <div>Payment methods</div>
                    </a>
                </li>

                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/taxes" class="menu-link">
                        <div>Taxes</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/units" class="menu-link">
                        <div>Units</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="https://taskify-saas.taskhub.company/master-panel/items" class="menu-link">
                        <div>Items</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item ">
            <a href="https://taskify-saas.taskhub.company/master-panel/activity-log" class="menu-link">
                <i class='menu-icon tf-icons bx bx-line-chart text-warning'></i>
                <div>Activity Log</div>
            </a>
        </li>
    </ul>
</aside>