<div id="section-not-to-print">
    <footer class="content-footer footer bg-footer-theme mt-2 container-fluid">
        <div class="container-fluid d-flex flex-wrap justify-content-between  flex-md-row flex-column">
            <div class=" mb-md-0 d-flex align-items-start justify-content-between">
                ©
                2024
                , <p>Made with ❤️ by <a href="https://github.com/sowndv02" target="_blank" rel="noopener">SownDV02</a></p>                <p class="ms-2 footer-text">
                    v1.0.1
                </p>
            </div>
        </div>
    </footer>
</div>