
<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>    Dashboard - Taskify</title>


    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/image/e9fpoewysvxc1lwnfobulqeohy8jn6glk9pqfqnq.png" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link href="~/css/vendor/fonts/boxicons.css" rel="stylesheet" />
    <!-- Core CSS -->
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/custom_2.css" rel="stylesheet" />
    <!-- Vendors CSS -->
    <link href="~/css/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/css/vendor/css/page/pages-auth.css" rel="stylesheet" />
    <link href="~/css/apex-charts.css" rel="stylesheet" />
    <link href="~/css/lightbox/lightbox.min.css" rel="stylesheet" />
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/js/helper.js"></script>
    <!-- Date picker -->
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/dropzone.min.css" rel="stylesheet" />

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/js/config.js"></script>
    <script src="~/js/libs/jquery/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">


</head>

<body>
    <partial name="_Notification" />
    <div class="layout-wrapper layout-content-navbar">

        <div class="layout-container">
            <partial name="_Aside" />
            <div class="layout-page">
                <partial name="_Header" />
                
                @RenderBody()

                <partial name="_Modal" />


                <partial name="_Footer" />
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
            $('#task_status_filter').select2();
            $('#task_priority_filter').select2();
        });
    </script>

    <script src="~/js/time-tracker.js"></script>
    <script src="~/js/vendor/libs/popper/popper.js"></script>
    <script src="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/js/vendor/js/bootstrap.js"></script>
    <script src="~/js/vendor/js/menu.js"></script>
    <script src="~/js/ui-toasts.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/button.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-table-export.min.js"></script>
    <script src="~/js/tableexport.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/tinymce-jquery.min.js"></script>
    <script src="~/js/tinymce.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script>
        var js_date_format = 'DD-MM-YYYY';
        var lable_delete_select = 'Delete selected';
        var lable_min_0 = 'Value must be greater then 0';
        var lable_max_100 = 'Not greater Then 100';
    </script>
    <script src="~/js/custom.js?v3"></script> 
    @await RenderSectionAsync("Scripts", required: false)
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>

    <script>
        var label_please_wait = 'Please wait...';
        var label_please_select_records_to_delete =
            'Please select records to delete.';
        var label_something_went_wrong = 'Something went wrong.';
        var label_please_correct_errors = 'Please correct errors.';
        var label_project_removed_from_favorite_successfully =
            'Project removed from favorite successfully.';
        var label_project_marked_as_favorite_successfully =
            'Project marked as favorite successfully.';
        var label_yes = 'Yes';
        var label_upload = 'Upload';
        var decimal_points = 1;
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_view = 'View';
        var label_not_assigned = 'Not assigned';
        var label_delete_selected = 'Delete selected';
        var label_search = 'Search';
        var label_create = 'Create';

        var label_min_0 = 'Value must be greater then 0';
        var label_max_100 = 'Not greater Then 100';
    </script>
</body>

</html>
