@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}



<title>Forgot password - Taskify</title>

<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title> - Taskify</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="~/image/e9FPOEwYsVXC1LWNFObuLqeOHy8jn6gLK9PQfQNq.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/css/vendor/fonts/boxicons.css" rel="stylesheet" />
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/css/vendor/css/page/pages-auth.css" rel="stylesheet" />
    <link href="~/css/apex-charts.css" rel="stylesheet" />
    <link href="~/css/lightbox/lightbox.min.css" rel="stylesheet" />
    <script src="~/js/helper.js"></script>
    <link href="~/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/dropzone.min.css" rel="stylesheet" />
    <script src="~/js/config.js"></script>
    <script src="~/js/libs/jquery/jquery.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Forgot Password -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="/home" class="app-brand-link">
                                <span class="app-brand-logo demo">
                                    <img src="~/image/wKXkoC9Sktp18zkEsk6l7elHi6zJHuBNTR7U7Ik3.png" width="300px" alt="" />
                                </span>
                            </a>
                        </div>
                        <h3 class="text-center display-5 fw-semi-bold mt-5">
                            Forgot Password? 🔒
                        </h3>
                        <p class="text-center mb-4">
                            Enter your email and we will send you password reset link
                        </p>

                        <form id="formAuthentication" class="mb-3 form-submit-event"
                              action="#" method="POST">
                            <input type="hidden" name="redirect_url" value="https://taskify-saas.taskhub.company/forgot-password">
                            <div class="mb-3">
                                <label for="email" class="form-label">
                                    E-mail <span class="asterisk">*</span>
                                </label>
                                <input type="text" class="form-control" id="email" name="email"
                                       placeholder="Enter your email"
                                       value="" autofocus />
                            </div>
                            <button type="submit" id="submit_btn"
                                    class="btn btn-primary d-grid w-100">
                                Submit
                            </button>
                        </form>
                        <div class="text-center">
                            <a href="https://taskify-saas.taskhub.company/login" class="d-flex align-items-center justify-content-center">
                                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                                Back to login
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password -->
            </div>
        </div>
    </div>
    <script>
        var label_please_wait = 'Please wait';
    </script>
    <!-- / Content -->
    <script>
        var label_please_wait = 'Please wait...';
        var label_please_select_records_to_delete = 'Please select records to delete.';
        var label_something_went_wrong = 'Something went wrong.';
        var label_please_correct_errors = 'Please correct errors.';
        var label_project_removed_from_favorite_successfully = 'Project removed from favorite successfully.';
        var label_project_marked_as_favorite_successfully = 'Project marked as favorite successfully.';
        var label_yes = 'Yes';
        var label_upload = 'Upload';
    </script>    <!-- / Layout wrapper -->
    <script src="~/js/time-tracker.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/vendor/libs/popper/popper.js"></script>
    <script src="~/js/vendor/js/bootstrap.js"></script>
    <script src="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/js/vendor/js/menu.js"></script>
    <script src="~/js/ui-toasts.js"></script>
    <script src="~/js/button.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/bootstrap-table.min.js"></script>
    <script src="~/js/bootstrap-table-export.min.js"></script>
    <script src="~/js/tableexport.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/soft-design-system.js"></script>
    <script src="~/js/plugins/countup.min.js"></script>
    <script src="~/js/plugins/flatpickr.min.js"></script>
    <script src="~/js/plugins/typedjs.js"></script>
    @* <script src="~/js/font-end/custom.js"></script> *@
    <script src="~/js/tinymce-jquery.min.js"></script>
    <script src="~/js/tinymce.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    @* <script src="~/js/custom.js"></script> *@
    <script src="~/js/loople/loopple.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/lottie.js"></script>
    <script src="https://unpkg.com/@@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!-- Custom js -->
    <script>
        var csrf_token = 'u7Qgb2tNLQtLJQi8g9hF40MzVRlsO8fUbmbJpIQB';
        var js_date_format = 'DD-MM-YYYY';
        var lable_delete_select = 'Delete selected';
        var lable_min_0 = 'Value must be greater then 0';
        var lable_max_100 = 'Not greater Then 100';
    </script>
    @* <script src="~/js/custom.js"></script> *@
    @* <script src="~/js/font-end/custom.js"></script> *@
</body>

</html>
