
@{
    var userId = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}
@model taskify_font_end.Models.DTO.WorkspaceDTO
<div class="container-fluid">

    <div class="d-flex justify-content-between mb-2 mt-4">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1">
                    <li class="breadcrumb-item">
                        <a asp-action="Dashboard" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Workspace">Workspaces</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Create
                    </li>
                </ol>
            </nav>
        </div>
    </div>


    <div class="card">
    <div class="card-body">
        <form asp-action="Create" asp-controller="Workspace" method="POST" class="form-submit-event">
            <div class="mb-3 col-md-12">
                <label for="title" class="form-label">Title <span class="asterisk">*</span></label>
                <input class="form-control" type="text" id="title" asp-for="Title" placeholder="Please Enter Title"/>
            </div>
                <input type="hidden" asp-for="OwnerId" value="@userId" />
            <div class="mb-3 col-md-12">
                <label class="form-label" for="user_ids[]">Select Users</label>
                <div class="input-group">
                    <select class="form-control js-example-basic-multiple" asp-for="WorkspaceUserIds" multiple="multiple" data-placeholder="Type to Search">
                    @foreach (var item in ViewBag.users)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                    </select>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2" id="submit_btn">Create</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>
 </div>
</div>
