@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<taskify_font_end.Models.DTO.WorkspaceDTO>

<div class="content-wrapper">

    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1">
                        <li class="breadcrumb-item">
                            <a asp-action="Dashboard" asp-controller="Home">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            Workspaces
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <a asp-action="Create" asp-controller="Workspace">
                    <button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="Create workspace">
                        <i class='bx bx-plus'></i>
                    </button>
                </a>
            </div>
        </div>
        <!-- workspaces -->
        @if (Model.Count > 0)
        {
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <div class="row mt-4 mx-2">
                        <div class="col-md-3">
                            <select class="form-select" id="workspace_user_filter" aria-label="Default select example">
                                <option value="">Select user</option>
                                <option value="2">
                                    super admin
                                </option>
                                <option value="5">
                                    Sid gor
                                </option>
                                <option value="7">
                                    Team Member 1
                                </option>
                                <option value="14">
                                    King Lost
                                </option>
                                <option value="15">
                                    jimy karter
                                </option>
                                <option value="16">
                                    kenny blinder
                                </option>
                                <option value="17">
                                    teets teets
                                </option>
                                <option value="18">
                                    awd das
                                </option>
                                <option value="19">
                                    yhzf fmfm
                                </option>
                                <option value="20">
                                    asdasd asdas
                                </option>
                                <option value="21">
                                    werwe werwer
                                </option>
                                <option value="22">
                                    Shady Khan
                                </option>
                                <option value="23">
                                    Mohibbur Rahman
                                </option>
                                <option value="24">
                                    muhammed faahir
                                </option>
                                <option value="25">
                                    Abc xyz
                                </option>
                                <option value="26">
                                    Waqas Maqbool
                                </option>
                                <option value="27">
                                    c c
                                </option>
                                <option value="28">
                                    Tanush Gupta
                                </option>
                                <option value="29">
                                    Роман Мельник
                                </option>
                                <option value="30">
                                    એનિસ મેકકેથે
                                </option>
                                <option value="31">
                                    kumar raj
                                </option>
                                <option value="32">
                                    test test
                                </option>
                                <option value="33">
                                    Shady Khan
                                </option>
                                <option value="34">
                                    Akash Dhaman
                                </option>
                                <option value="35">
                                    dharmesh ladani
                                </option>
                                <option value="36">
                                    Anand Behera
                                </option>
                                <option value="37">
                                    Demo New
                                </option>
                                <option value="38">
                                    jknjk jbjkhjk
                                </option>
                                <option value="39">
                                    gurjap singh
                                </option>
                                <option value="40">
                                    Clvois Oliveira
                                </option>
                                <option value="41">
                                    CAIO CAIO
                                </option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <select class="form-select" id="workspace_client_filter" aria-label="Default select example">
                                <option value="">Select client</option>
                                <option value="2">
                                    same parker
                                </option>
                                <option value="3">
                                    Thomas bond
                                </option>
                                <option value="4">
                                    shie Waine
                                </option>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" id="data_type" value="workspaces">

                    <div class="card-body">
                        <table id="table" data-toggle="table" data-loading-template="loadingTemplate"
                               data-url="https://taskify-saas.taskhub.company/master-panel/workspaces/list" data-icons-prefix="bx" data-icons="icons"
                               data-show-refresh="true" data-total-field="total" data-trim-on-search="false" data-data-field="rows"
                               data-page-list="[5, 10, 20, 50, 100, 200]" data-search="true" data-side-pagination="server"
                               data-show-columns="true" data-pagination="true" data-sort-name="id" data-sort-order="desc"
                               data-mobile-responsive="true" data-query-params="queryParams">
                            <thead>
                                <tr>
                                    <th data-checkbox="true"></th>
                                    <th data-sortable="true" data-field="id">ID</th>
                                    <th data-sortable="true" data-field="title">Title</th>
                                    <th data-field="users" data-formatter="userFormatter">Users                            </th>
                                    <th data-field="clients" data-formatter="clientFormatter">
                                        Clients
                                    </th>
                                    <th data-formatter="actionsFormatter">Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        }else{
            <div class="card text-center mt-4">
                <div class="card-body">
                    <div class="misc-wrapper">
                        <h2 class="mb-2 mx-2">You don't have any workspaces!</h2>
                        <p class="mb-4 mx-2">
                            Do you want to create a new workspace?
                        </p>
                        <a asp-action="Create" asp-controller="Workspace" class="btn btn-primary">Create</a>
                        <div class="mt-3">
                            <img src="~/image/man-with-laptop-light.png" alt="page-misc-error-light"
                                 width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
                                 data-app-light-img="illustrations/page-misc-error-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    <script>
        var label_update = 'Update';
        var label_delete = 'Delete';
        var label_not_assigned = 'Not assigned';
        var label_duplicate = 'Duplicate';
        var routePrefix = '/master-panel';
    </script>
<script src="~/js/workspaces.js"></script>