@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}


<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>
        Home - Taskify
    </title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/image/e9fpoewysvxc1lwnfobulqeohy8jn6glk9pqfqnq.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="~/js/kit.fontawesome.js"></script>
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/loopple.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />

    <script src="~/js/jquery.js"></script>


</head>

<body class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3 fixed-top">
        <div class="container">
            <div class="img-box">
                <a class="navbar-brand" href="/">
                    <img src="~/image/wkxkoc9sktp18zkesk6l7elhi6zjhubntr7u7ik3.png"
                         class="img-box">
                </a>
            </div>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-4 ps-lg-5" id="navigation">
                <ul class="justify-content-end navbar-nav navbar-nav-hover w-100">
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center active text-primary fw-bold "
                           href="#">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">About Us</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Pricing Plans</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Features</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center "
                           href="#">Contact Us</a>
                    </li>

                </ul>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                    <a asp-action="Login" asp-controller="Auth"
                       class="btn btn-sm btn-round mb-0 me-1 mt-2 mt-md-0 bg-gradient-primary">Login</a>
                </div>


            </div>
        </div>
    </nav>
    <header>
    </header>
    <main class="mt-4 ">
        <link href="~/css/lightbox/lightbox.min.css" rel="stylesheet" />

        <header class="">
            <div class="page-header min-vh-90">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                            <h1 class="text-gradient text-primary"> Taskify SaaS</h1>
                            <h1 class="mb-4"></h1>
                            <p class="lead pe-2">
                                Unleash peak productivity with this system, your one-stop cloud-based project management platform. Streamline workflows, boost team collaboration, and stay ahead of deadlines. This system empowers you to effortlessly create tasks, assign them to team members, and track progress in real-time.
                            </p>
                            <div class="buttons">
                                <a asp-controller="Auth" asp-action="login" class="btn bg-gradient-primary mt-4">Get Started</a>
                                <a href="#" class="btn text-primary shadow-none mt-4">Contact Us</a>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                            <div class="img-fluid">
                                <dotlottie-player src="https://lottie.host/e9a75893-16ad-418b-93e3-9d703ba582f4/6SBKuWKS4m.json" background="transparent" speed="1" loop autoplay>
                                    </dotlottie-player>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="mt-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9">
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="icon icon-md">
                                        <svg width="25px" height="25px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>spaceship</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                                <g transform="translate(-1720.000000, -592.000000)" fill="#2D31FA" fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g transform="translate(4.000000, 301.000000)">

                                                            <path d="M39.3,0.706666667 C38.9660984,0.370464027 38.5048767,0.192278529 38.0316667,0.216666667 C14.6516667,1.43666667 6.015,22.2633333 5.93166667,22.4733333 C5.68236407,23.0926189 5.82664679,23.8009159 6.29833333,24.2733333 L15.7266667,33.7016667 C16.2013871,34.1756798 16.9140329,34.3188658 17.535,34.065 C17.7433333,33.98 38.4583333,25.2466667 39.7816667,1.97666667 C39.8087196,1.50414529 39.6335979,1.04240574 39.3,0.706666667 Z M25.69,19.0233333 C24.7367525,19.9768687 23.3029475,20.2622391 22.0572426,19.7463614 C20.8115377,19.2304837 19.9992882,18.0149658 19.9992882,16.6666667 C19.9992882,15.3183676 20.8115377,14.1028496 22.0572426,13.5869719 C23.3029475,13.0710943 24.7367525,13.3564646 25.69,14.31 C26.9912731,15.6116662 26.9912731,17.7216672 25.69,19.0233333 L25.69,19.0233333 Z">
                                                            </path>

                                                            <path d="M1.855,31.4066667 C3.05106558,30.2024182 4.79973884,29.7296005 6.43969145,30.1670277 C8.07964407,30.6044549 9.36054508,31.8853559 9.7979723,33.5253085 C10.2353995,35.1652612 9.76258177,36.9139344 8.55833333,38.11 C6.70666667,39.9616667 0,40 0,40 C0,40 0,33.2566667 1.855,31.4066667 Z">
                                                            </path>

                                                            <path d="M17.2616667,3.90166667 C12.4943643,3.07192755 7.62174065,4.61673894 4.20333333,8.04166667 C3.31200265,8.94126033 2.53706177,9.94913142 1.89666667,11.0416667 C1.5109569,11.6966059 1.61721591,12.5295394 2.155,13.0666667 L5.47,16.3833333 C8.55036617,11.4946947 12.5559074,7.25476565 17.2616667,3.90166667 L17.2616667,3.90166667 Z" opacity="0.598539807"></path>
                                                            <path d="M36.0983333,22.7383333 C36.9280725,27.5056357 35.3832611,32.3782594 31.9583333,35.7966667 C31.0587397,36.6879974 30.0508686,37.4629382 28.9583333,38.1033333 C28.3033941,38.4890431 27.4704606,38.3827841 26.9333333,37.845 L23.6166667,34.53 C28.5053053,31.4496338 32.7452344,27.4440926 36.0983333,22.7383333 L36.0983333,22.7383333 Z" id="color-3" opacity="0.598539807"></path>

                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5>
                                        Streamline Your Projects with
                                        Taskify SaaS
                                    </h5>
                                    <p>
                                        Take control of your projects and boost team productivity with Taskify-SaaS ,the all-in-one project management and task management solution. Our cloud-based platform empowers you to effortlessly organize projects, collaborate with your team, and track progress – all in one place.
                                    </p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="icon icon-md">

                                        <svg width="25px" height="25px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>briefcase-24</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                                <g transform="translate(-2170.000000, -292.000000)" fill="#2D31FA" fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g id="briefcase-24" transform="translate(454.000000, 1.000000)">

                                                            <path d="M26.25,31.5 L26.25,35 L15.75,35 L15.75,31.5 L1.75,31.5 L1.75,40.25 C1.75,41.216 2.534,42 3.5,42 L38.5,42 C39.466,42 40.25,41.216 40.25,40.25 L40.25,31.5 L26.25,31.5 Z">
                                                            </path>

                                                            <path d="M40.25,7 L29.75,7 L29.75,1.75 C29.75,0.784 28.966,0 28,0 L14,0 C13.034,0 12.25,0.784 12.25,1.75 L12.25,7 L1.75,7 C0.784,7 0,7.784 0,8.75 L0,26.25 C0,27.216 0.784,28 1.75,28 L15.75,28 L15.75,22.75 L26.25,22.75 L26.25,28 L40.25,28 C41.216,28 42,27.216 42,26.25 L42,8.75 C42,7.784 41.216,7 40.25,7 Z M26.25,7 L15.75,7 L15.75,3.5 L26.25,3.5 L26.25,7 Z" opacity="0.6"></path>

                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5>Effortless Organization</h5>
                                    <p>
                                        Taskify SaaS

                                        provides a centralized hub to create, manage, and track all your projects. Say goodbye to scattered tasks and missed deadlines – our intuitive interface keeps everything organized and accessible.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="icon icon-md">

                                        <svg width="25px" height="25px" viewBox="0 0 45 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>map-big</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                                <g transform="translate(-2321.000000, -593.000000)" fill="#2D31FA" fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g id="map-big" transform="translate(605.000000, 302.000000)">

                                                            <polygon points="31.875 0.71625 24.375 4.46625 24.375 40.53375 31.875 36.78375">
                                                            </polygon>

                                                            <polygon points="20.625 4.46625 13.125 0.71625 13.125 36.78375 20.625 40.53375">
                                                            </polygon>

                                                            <path d="M9.375,0.81375 L0.909375,5.893125 C0.346875,6.230625 0,6.84 0,7.5 L0,43.125 L9.375,37.06125 L9.375,0.81375 Z" opacity="0.70186942"></path>
                                                            <path d="M44.090625,5.893125 L35.625,0.81375 L35.625,37.06125 L45,43.125 L45,7.5 C45,6.84 44.653125,6.230625 44.090625,5.893125 Z" opacity="0.70186942"></path>

                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5>Seamless Collaboration</h5>

                                    <p>
                                        Foster a collaborative work environment with Taskify-SaaS. Assign tasks,share files, and communicate effectively with your team in real-time. Ensure everyone is on the same page and working towards a common goal.
                                    </p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="icon icon-md">

                                        <svg width="25px" height="25px" viewBox="0 0 42 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>time-alarm</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                                <g transform="translate(-2319.000000, -440.000000)" fill="#2D31FA" fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g id="time-alarm" transform="translate(603.000000, 149.000000)">

                                                            <path d="M18.8086957,4.70034783 C15.3814926,0.343541521 9.0713063,-0.410050841 4.7145,3.01715217 C0.357693695,6.44435519 -0.395898667,12.7545415 3.03130435,17.1113478 C5.53738466,10.3360568 11.6337901,5.54042955 18.8086957,4.70034783 L18.8086957,4.70034783 Z" opacity="0.6"></path>
                                                            <path d="M38.9686957,17.1113478 C42.3958987,12.7545415 41.6423063,6.44435519 37.2855,3.01715217 C32.9286937,-0.410050841 26.6185074,0.343541521 23.1913043,4.70034783 C30.3662099,5.54042955 36.4626153,10.3360568 38.9686957,17.1113478 Z" opacity="0.6"></path>
                                                            <path d="M34.3815652,34.7668696 C40.2057958,27.7073059 39.5440671,17.3375603 32.869743,11.0755718 C26.1954189,4.81358341 15.8045811,4.81358341 9.13025701,11.0755718 C2.45593289,17.3375603 1.79420418,27.7073059 7.61843478,34.7668696 L3.9753913,40.0506522 C3.58549114,40.5871271 3.51710058,41.2928217 3.79673036,41.8941824 C4.07636014,42.4955431 4.66004722,42.8980248 5.32153275,42.9456105 C5.98301828,42.9931963 6.61830436,42.6784048 6.98113043,42.1232609 L10.2744783,37.3434783 C16.5555112,42.3298213 25.4444888,42.3298213 31.7255217,37.3434783 L35.0188696,42.1196087 C35.6014207,42.9211577 36.7169135,43.1118605 37.53266,42.5493622 C38.3484064,41.9868639 38.5667083,40.8764423 38.0246087,40.047 L34.3815652,34.7668696 Z M30.1304348,25.5652174 L21,25.5652174 C20.49574,25.5652174 20.0869565,25.1564339 20.0869565,24.6521739 L20.0869565,15.5217391 C20.0869565,15.0174791 20.49574,14.6086957 21,14.6086957 C21.50426,14.6086957 21.9130435,15.0174791 21.9130435,15.5217391 L21.9130435,23.7391304 L30.1304348,23.7391304 C30.6346948,23.7391304 31.0434783,24.1479139 31.0434783,24.6521739 C31.0434783,25.1564339 30.6346948,25.5652174 30.1304348,25.5652174 Z">
                                                            </path>

                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h5>Visualize Project Health</h5>

                                    <p>
                                        Get insightful dashboards and reports to monitor project performance and identify areas for improvement.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ms-auto">
                        <div class="card">
                            <img class="card-img-top" src="~/image/teamcollab.jpg">
                            <div class="position-relative overflow-hidden">
                                <div class="position-absolute w-100 top-0 z-index-1">
                                </div>
                            </div>
                            <div class="card-body">
                                <h4>
                                    Team Collaboration
                                </h4>
                                <p>
                                    Enhance team productivity and communication with our intuitive collaboration platform,facilitating seamless coordination and information sharing.
                                </p>
                                <a href="#" class="text-primary icon-move-right">
                                    Learn more
                                    <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="text-gradient text-primary mb-0 mt-2">
                            Read More About Us
                        </h3>
                        <h3>Maximizing Efficiency</h3>

                        <p>
                            Efficiency is paramount in project management. We streamline processes, foster teamwork, and minimize inefficiencies, ensuring smooth project execution and success.
                        </p>

                        <a href="#" class="text-primary icon-move-right">
                            Read More About Us
                            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                        </a>

                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                        <div class="p-3 info-horizontal">
                            <div class="icon icon-shape rounded-circle  shadow text-center">
                                <img src="~/image/project-management.png" class="icon-size" alt="Project Management" />
                            </div>
                            <div class="description ps-3">
                                <p class="mb-0">
                                    Create and manage multiple projects with ease, ensuring seamless collaboration and organization.

                                </p>
                            </div>
                        </div>
                        <div class="p-3 info-horizontal">
                            <div class="icon icon-shape rounded-circle shadow text-center">
                                <img src="~/image/task-tracking.png" class="icon-size" alt="Task Tracking">
                            </div>
                            <div class="description ps-3">
                                <p class="mb-0">
                                    Assign, prioritize, and track tasks efficiently, keeping your team on top of their workload.

                                </p>
                            </div>
                        </div>
                        <div class="p-3 info-horizontal">
                            <div class="icon icon-shape rounded-circle  shadow text-center">
                                <img src="~/image/7.png" class="icon-size" alt="User Management" />
                            </div>

                            <div class="description ps-3">
                                <p class="mb-0">
                                    Manage user roles, permissions, and access levels, ensuring secure collaboration and data privacy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="py-4">
            <div class="container">
                <div class="row my-5">
                    <div class="col-md-6 mx-auto text-center">
                        <h2>
                            Frequently Asked Questions
                        </h2>
                        <p>
                            A lot of people dont appreciate the moment until its passed. I am not trying my hardest, and I am not trying to do
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="accordion" id="accordionRental">
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingOne">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        What is a project management system?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        A project management system is a software tool designed to help teams plan, execute, and manage projects from initiation to completion. It facilitates collaboration, task allocation, scheduling, and tracking of project progress.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingTwo">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What are the key features of a project management system?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Key features typically include task management, team collaboration, project planning and scheduling, time tracking, file sharing, reporting and analytics, and integration with other tools.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingThree">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How does a project management system benefit businesses?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Project management systems improve productivity and efficiency by streamlining workflows, enabling better communication and collaboration among team members, providing transparency into project progress, and facilitating effective resource allocation.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingFour">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        What is task management in the context of project management systems?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Task management involves creating, assigning, tracking, and organizing individual tasks within a project. It helps ensure that team members are aware of their responsibilities and deadlines, and allows for better coordination and prioritization of work.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <h5 class="accordion-header" id="headingFifth">

                                    <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="true" aria-controls="collapseFifth">
                                        How does task management contribute to project success?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseFifth" class="accordion-collapse collapse show" aria-labelledby="headingFifth" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Effective task management ensures that project activities are completed on time and within budget, minimizes delays and bottlenecks, identifies potential issues early on, and enables efficient resource utilization.
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item mb-3">
                                <!-- FAQ 6 -->
                                <h5 class="accordion-header" id="headingSix">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Can a project management system handle multiple projects simultaneously?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Yes, most project management systems are designed to support the management of multiple projects concurrently. They typically provide features for organizing projects into separate workspaces or folders, allowing teams to easily switch between projects.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <!-- FAQ 6 -->
                                <h5 class="accordion-header" id="headingSeven">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Is it possible to customize project management systems to fit specific project requirements?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Many project management systems offer customization options such as creating custom task types, defining project-specific workflows, adding custom fields, and integrating with other tools to adapt to the unique needs of different projects or industries.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <!-- FAQ 6 -->
                                <h5 class="accordion-header" id="headingEight">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        How secure are project management systems for storing sensitive project data?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Project management systems prioritize data security and typically employ measures such as encryption, user authentication, access control, and regular data backups to safeguard sensitive project information from unauthorized access, loss, or theft.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <!-- FAQ 6 -->
                                <h5 class="accordion-header" id="headingNine">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseSeven">
                                        Can project management systems integrate with other tools and applications?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        Yes, project management systems often offer integrations with popular productivity tools, communication platforms, file storage services, and software development tools to streamline workflows and enhance collaboration across teams.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-3">
                                <!-- FAQ 6 -->
                                <h5 class="accordion-header" id="headingTen">

                                    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        How do I choose the right project management system for my team?

                                        <i class="collapse-close fa fa-chevron-down text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                        <i class="collapse-open fa fa-chevron-up text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                    </button>
                                </h5>

                                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionRental">
                                    <div class="accordion-body text-dark text-sm opacity-8">
                                        When selecting a project management system, consider factors such as your team "\"s size and requirements, the complexity of your projects, ease of use, scalability, customization options, pricing, customer support, and compatibility with existing tools and workflows. It
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>


        <script src="~/js/lightbox.min.js"></script>
    </main>
    <footer class="footer py-2 bg-gradient-dark position-relative overflow-hidden fixed-bottom">
        <img src="~/image/pattern-lines.svg" alt="pattern-lines"
                class="position-absolute  w-100 opacity-2 img-container">
        <div class="container position-relative mt-5">
            <div class="row ">
                <div class="col-md-6 mb-5 mb-lg-0">
                    <div class="img-box">
                        <img src="~/image/9qus34ywblfhxwbotlx0xhtu264puvxemsxpd8ak.png">
                    </div>
                    <p class="mb-1 pb-1 text-white">
                        <ul class="list-unstyled text-light mb-md-4">
                            <li class="lh-lg"><p>#237, Time Square Empire, Bhuj Kutch - India</p></li>

                            <li class="lh-lg">
                                <a href=mailto ="info@infinitietech.com" class="text-light">
                                    <i class="far fa-envelope"></i>
                                    info@infinitietech.com
                                </a>
                            </li>
                        </ul>
                    </p>

                </div>

                <div class="col-md-6 ms-lg-0 mb-md-0 mb-4">

                    <div class="d-flex justify-content-center row">
                        <h5 class="lh-lg fw-bold text-light text-center">Quick Links</h5>
                        <div class="col-4">
                            <ul class="list-unstyled mb-md-2 mx-3">

                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Home
                                    </a>
                                </li>
                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Contact Us
                                    </a>
                                </li>
                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>About Us
                                    </a>
                                </li>
                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Refund Policy
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-5">


                            <ul class="list-unstyled mb-md-2 mx-3">
                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Features
                                    </a>
                                </li>
                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Pricing Plans
                                    </a>
                                </li>

                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Privacy Policy
                                    </a>
                                </li>
                                <li class="lh-lg">
                                    <a href="#"
                                        class="d-inline-flex align-items-center text-light ">
                                        <i class="fas fa-arrow-right me-2"></i>Terms and Conditons
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="horizontal light mb-4 mt-lg-4">
            <div class="row d-flex justify-content-center row text-capitalize text-center text-white">
                <div class="col-md-auto">
                    <p class="">&copy; 2024 Taskify SaaS</p>
                </div>
                <div class="col-md-auto text-white">

                    <p>Made with ❤️ by <a href="https://codecanyon.net/user/infinitietech" target="_blank" rel="noopener">Infinitie Technologies</a></p>

                </div>
            </div>


        </div>
    </footer>

    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/soft-design-system.js"></script>
    <script src="~/js/countup.min.js"></script>
    <script src="~/js/plugins/typedjs.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/tinymce.min.js"></script>
    <script src="~/js/tinymce-jquery.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script src="~/js/font-end/custom.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/lottie.js"></script>
    <script src="https://unpkg.com/@@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
</body>


</html>
